/*---字体颜色---*/
p,
li,
pre,
tr,
td,
th {
  color: var(--text);
}

/*---正文排版---*/
.markdown p,
.markdown li {
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
}

.markdown p {
  margin: var(--margin-p);
}

a {
  color: var(--link);
}

/*---背景颜色---*/
table {
  background: var(--pad);
}

/*---边线颜色---*/
table {
  border-color: var(--line);
}

/*---样式---*/
