pre {
  margin: 0;
  padding: 0.3rem;
  border: 1px solid var(--line);
  background-color: var(--panel);
  box-shadow: var(--shadow-panel);
  white-space: pre-wrap;
  word-break: break-word;
  display: flow-root;
  overflow: auto;
  max-width: fit-content;
}

code {
  color: var(--tips);
  border: 1px solid var(--line);
  background-color: var(--panel);
  border-radius: 0px;
  border-left: 0px solid var(--line);
  border-right: 0px solid var(--line);
  max-width: fit-content;
}

pre code,
blockquote code {
  background-color: var(--null);
  border: none;
  max-width: 100%;
}
