/*---给他妈的傻逼Chromium系擦屁股口牙！---*/
.is-chromium * {
  backdrop-filter: none !important;
}

.is-chromium .theme-layout-navbar-sidebar {
  background: var(--pad);
  z-index: var(--Z-chromium-navbar-sidebar);
}

.is-chromium .LB-pad {
  background: var(--bg);
  z-index: var(--Z-chromium-LB-pad);
}

.is-chromium .theme-doc-sidebar-container,
.is-chromium .table-of-contents,
.is-chromium pre {
  background: var(--pad);
}
