/* 默认主题 */
:root {
  --text: #1a4141;
  --title: #194a56;
  --important: #0068ad;
  --tips: #00674f;
  --pad: rgba(240, 245, 245, 0.6);
  --line: #216658;
  --bg: rgb(235, 240, 240);
  --link: #004ab8;
  --cover: rgba(255, 255, 255, 0.6);
  --bg-image: url('/img/bgd.webp');
  --ifm-code-font-size: 95%;
  --doc-sidebar-width: 300px;
  --head-height: 49px;
}
/* 图像尺寸 */
:root {
  --img-screen: 25%;
  --img-part: 30%;
}
/*默认主题*/

/* 暗主题 */
[data-theme='dark'] {
  --text: #62cccc;
  --title: #b4d9e3;
  --important: #4faeee;
  --tips: #10ce9e;
  --pad: rgba(35, 35, 35, 0.4);
  --line: #a0f6e2;
  --bg: rgb(30, 30, 30);
  --link: #1969e1;
  --cover: rgba(0, 0, 0, 0.7);
  --bg-image: url('/img/bg.webp');
}

.navbar-sidebar__backdrop{
  background-color: #00000000;
}
/*暗主题*/

/*ifm原生变量覆盖*/
/*颜色*/
:root{
  --ifm-toc-border-color: var(--line);/*导航栏收起按钮边框，跳转目录边栏颜色*/
  --ifm-pre-background: var(--pad);/*预制格式背景色*/ 
}

/*动画管理*/
@keyframes search {/*搜索框展开动画*/
  from {
    background-color: var(--pad);
    border-radius: 20px;
  }
}

/*背景图遮罩+变暗清除*/
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cover);
  pointer-events: none;
  z-index: -1;
}

/*导航栏，侧边栏，页内导航栏，页脚样式*/  
.navbar{
  background-color: var(--bg);
  border: 1px solid var(--line);
  box-shadow: none;
  height: var(--head-height);
  white-space: nowrap;
}

.theme-doc-sidebar-container {
  background-color: #00000000;
  border: 1px solid var(--line);
  padding: calc(var(--head-height) + 1px) 0 0 0;
  backdrop-filter: blur(2px);
}

.theme-layout-navbar-sidebar-panel,.theme-layout-navbar-sidebar.navbar-sidebar{
  background-color: #00000000;
  border: 1px solid var(--line);
  backdrop-filter: blur(12px);
}

.table-of-contents {
  background-color: var(--pad);
  border-left: 3px solid var(--line);
  backdrop-filter: blur(2px);
}

.footer {
  height: 50px;
  background-color: rgba(50, 50, 50, 0.1);
  backdrop-filter: blur(2px);
  vertical-align: top;
}
/*全局颜色*/
p,h4,h5,h6,li,pre,tr,td,th,.navbar__title,.navbar__link,.menu__link,.table-of-contents__link,.footer__link-item,.footer__copyright{
  color: var(--text);
}

h2,h3,.footer__title{
  color: var(--title);
}

h1,[class*="navbar__link--active"],.menu__link--active,.table-of-contents__link--active{
  color: var(--important);
}

blockquote,code,.DocSearch-Button-Placeholder{
  color: var(--tips);
}

code,blockquote,.menu__caret,.DocSearch-Button{
  background-color: var(--pad);
  isolation: isolate;
}

@media (hover: hover) and (pointer: fine) {
  code,blockquote,.menu__caret,.DocSearch-Button{
    backdrop-filter: blur(2px);
  }
}

table{
  border-color: var(--line);
}

.navbar__link:hover,.navbar__title:hover,.menu__link:hover,.table-of-contents__link:hover,.footer__link-item:hover{
  color: var(--link);
}

blockquote {
  border-left: 4px solid var(--line);
  border-radius: 3px;
  overflow: auto;
  isolation: isolate;
}
/* 图片控制 */
[class^="img-"] {
  margin: 0 auto;
  margin-left: 1rem;
}

[class^="img-"] p,[class^="img-"] blockquote {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  font-size: small;
  font-weight: 400;
}

.imgT{
  margin-left: 0;
}

.img-screen {
  width: var(--img-screen);
  float: right;
  overflow: visible;
  aspect-ratio: 45/97;
}

.img-screen img {
  aspect-ratio: 45/97;
  object-fit: cover;
  object-position: center;
}

.img-screen blockquote {
  aspect-ratio: 45/20;
  overflow: auto;
}
/*背景图+全局字体+全局边框*/
html {
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Microsoft YaHei", "微软雅黑", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "WenQuanYi Micro Hei", sans-serif;
} 

body::after {
  content: '';
  position: fixed;
  inset: 0;
  box-shadow: inset 1px 0 0 var(--line), inset -1px 0 0 var(--line);
  pointer-events: none;
  z-index: 9999;
}

@media (hover: hover) and (pointer: fine) {
  body::after {
    box-shadow: none;
    border: 1px solid var(--line);
  }
}
/*搜索栏*/
.navbar__search-input.searchInput_YFbd.input_FOTf{
  border: 1px solid var(--line);
  border-radius: 20px;
  background-color: var(--pad);
  transition: 0.3s;
}

.navbar__search-input.searchInput_YFbd.input_FOTf:active{
  background-color: var(--line);
}

.navbar__search-input.searchInput_YFbd.input_FOTf:focus{
  background-color: var(--bg);
  border-radius: 0px;
  transition: 0.3s;
}

@media not all and (hover: hover) and (pointer: fine) {
  .navbar__search-input.searchInput_YFbd.input_FOTf:focus {
    animation: search 0.3s ease forwards;
    width: 91vw;
  }
}

/*防溢出*/
article img {
  max-width: 100%;
  height: auto;
}

@media not all and (hover: hover) and (pointer: fine) {
  .navbar__title.text--truncate {
    display: none;
  }
}