.col.col--3 {
  width: var(--sbR);
  padding: 0;
  margin-left: -16px;
}

.table-of-contents {
  background-color: var(--panel);
  border-left: 3px solid var(--line);
  box-shadow: var(--shadow-panel);
}
/*---通用字体颜色设置---*/
.table-of-contents__link {
  color: var(--text);
}

.table-of-contents__link:hover {
  color: var(--link);
}

.table-of-contents__link--active {
  color: var(--important);
}
