.footer {
  height: content;
  padding: 20px;
  display: flex;
  align-items: center;
  border: 1px solid var(--line);
  background-color: var(--panel);
  box-shadow: var(--shadow-panel);
  vertical-align: top;
}

.footer__title {
  color: var(--title);
}

.footer__copyright {
  color: var(--text);
}

.footer__link-item {
  color: var(--link);
}

.footer__link-item:hover {
  color: var(--important);
}
