/*---背景图---*/
.bg-layer {
  position: fixed;
  inset: 0;
  background-image: var(--bg-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  pointer-events: none;
  z-index: var(--Z-bg-layer);
}

/*---蒙版---*/
body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--cover);
  pointer-events: none;
  z-index: var(--Z-body-before);
}

/*---非首页隐藏蒙版---*/
html:not(.plugin-pages) .bg-layer {
  background-image: var(--bg);
}

html:not(.plugin-pages) body::before {
  display: none;
}
