body::after {
  content: '';
  position: fixed;
  inset: 0;
  box-shadow:
    inset 1px 0 0 var(--line),
    inset -1px 0 0 var(--line);
  pointer-events: none;
  z-index: var(--Z-body-after);
}

@media (hover: hover) and (pointer: fine) {
  body::after {
    box-shadow: none;
    border: 1px solid var(--line);
  }
}
